/*
    Reset by Eric Meyer http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    background: white;
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

p {
    margin-top: 0.5em;
}

/*
   Utilities
*/
.left {
    float: left;
}

.right {
    float: right;
}


.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    /*
    opacity: 0.3;
    */
    opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: #444;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.slide li {
    padding-left: 1em;
    text-indent: -1em;
    padding-top: 1em;
}

.slide ul > li {
    list-style: disc inside;
}

.slide ol > li {
        list-style: decimal inside;
}

.slide h2 {
    font-size: 70px;
    line-height: 72px;
    margin-top: 80px;
}

/*
    Fellowship of the Ring
*/
.fellowship {
    background: url(../img/middle-earth.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.fellowship .banner {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    line-height: 1.25;
    border: 1px solid black;
    border-radius: 10px;

}

.fellowship .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

.fellowship h1 {
    font-size: 50px;
}

.fellowship h2 {
    font-size: 30px;
    margin-top: 0;
}

.mindset-questionnaire q {
    margin: 0 0 10px;
}

.mindset-questionnaire img {
    height: 80%;
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    padding: 10px;
}

.schedule {
    position: relative;
    background: black;
    color: #ccc;
}

.schedule img {
    display: block;
    margin: 50px auto 0;
}

.schedule .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
}

#wikipedia-biases img,
#bi-biases img {
    height: 60%;
    display: block;
    margin: 10px auto 0;
}

#thinking q {
    margin-top: 10px;
}
 
#thinking img {
    margin: 1em 0 1em 1em;
    height: 80%;
}

.consequences {
    font-size: 20px;
}

.consequences q {
    margin-top: 0;
}

.consequences strong {
    display: block;
    margin-top: 1em;
}

.consequences li {
    padding-top: 0.25em;
}

.paula-and-ted q {
    margin: 0 0 10px;
}

.paula-and-ted img {
    height: 80%;
    display: block;
    margin: 0 auto;
}

#eight-behaviours q {
    margin-top: 0;
}

#eight-behaviours div {
    width: 48%;
}

.footnote {
    font-size: 16px;
    line-height: 20px;
    float: right;
}

#end-of-the-journey {
    background-color: black;
    color: white;
}


#end-of-the-journey img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

#happy-journey,
#about-me {
    background-color: black;
    color: white;
}

#happy-journey .photo,
#about-me .photo {
    display: inline-block;
    background-color: white;
}

#happy-journey p,
#about-me p {
    margin-top: 0.5em;
}

#happy-journey img,
#about-me img {
    display: block;
    padding: 10px;
}

#learn-more q {
    margin-top: 0;
}

#end-reflection q {
    margin-top: 0;
}

/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.

*/
#overview { display: none }

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}
/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.

    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.

    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events

    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.

    So use it wisely ... or don't use at all.
*/
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
